*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   min-height: 100vh;
    color: white;
    padding: 10px 20px;
}
.search input{
    background-color: #fff;
    color: #212121;
}

.titre{
    font-size: 24px;
}
.caractere{
    font-size: 22px;
    font-weight: 500;
}
.container-fluid{
    /* max-width: 800px; */
    width: 70%;
    background-color: #212121;
    padding: 20px;
    border-radius: 10px;
}

#btnSearch{
    width: 400px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: #333;
}
@media screen and (max-width:900px) {
    #btnSearch{
        margin-top: 10px;
        width: 100%;
    }

    .container-fluid{
        width: 100%;
    }

    .titre{
        font-size: 18px;
    }
    .caractere{
        font-size: 16px;
    }
}

#listeSugg{
    width: 80%;
    background-color: #fff;
    color: #212121;
    margin-top: 5px;
    border-radius: 10px;
}
  
#listeSugg li{
    list-style: none;
    cursor: pointer;
    font-size: 20px;
}